.App {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  align-content: stretch;
  color: white;
  padding: 10px;
}

.col {
  padding: 15px;
  border-radius: 15px;
}

.col-1 {
  display: -ms-inline-grid;
}

.col-2 {
  display: -ms-inline-grid;
  background: #352069;
}

.col-3 {
  background: #1f2f73;
  width: 360px;
}

.col-4 {
  display: -ms-inline-grid;
  background: #4c284f;
  width: 355px;
  height: 240px;
  padding: 0 0 0;
  overflow: hidden;
  position: relative;
}

.col-5 {
  display: -ms-inline-grid;
  background-color: #402d33;
}

.col-6 {
  display: -ms-inline-grid;
  background: #3b0245;
  padding: 10px;
  width: 410px;
}

.col-7 {
  display: -ms-inline-grid;
  background: #291952;
}

.col-8 {
  display: -ms-inline-grid;
  background: #302947;
}

.col-9 {
  display: -ms-inline-grid;
  background: #331F68;
}

.nav-bar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 10px;
  position: relative;
}

#navbar-form {
  width: 250px;
  height: 45px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
  padding: 0 10px;
  border: 2px solid white;
}

#navbar-form input {
  padding-right: 20px;
  z-index: 11;
  color: white;
  font-size: 18px;
  height: 40px;
  width: 200px;
  border: none;
  outline: none;
  flex: 1;
  background-color: transparent;
}

.auto-complete {
  z-index: 10;
  position: absolute;
  left: 20px;
  top: 50px;
  background: #10052E;
  box-shadow: 15px 15px 30px #0a031d,
    -15px -15px 30px #16073f;
    cursor: pointer;
}

.auto-complete p {
  margin: 3px;
  color: rgb(206, 205, 205);
}
.auto-complete-line{
  width: 80%;
  margin: 4px;
  height: 1px;
  background: rgb(206, 205, 205);
}
.auto-div:hover{
color:#01a17a;
transition: .2s;
font-weight: 700;
}
.auto-complete h3 {
  margin: 0 16px 0 0;
}

#navbar-form button {
  color: white;
  font-size: 20px;
  background: transparent;
  border: 0;
  outline: 0;
}

.city-text {
  display: flex;
}

.loc-dot {
  margin-top: 24px;
  margin-right: 10px;
  font-size: 20px;
}

#update {
  text-align: center;
  justify-content: center;
  padding: 5px 0;
  border-radius: 10px;
  background-color: #204598;
  cursor: pointer;
}

#update p {
  margin: 0;
}

.settings-icon {
  font-size: 30px;
  cursor: pointer;
}

.settings-icon-clicked {
  position: absolute;
  left: -40px;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
}

.air-img {
  width: 50px;
  height: 50px;
  filter: invert(83%) sepia(41%) saturate(3189%) hue-rotate(246deg) brightness(100%) contrast(88%);
}

.air-img-div {
  background: #61256b86;
  padding: 8px;
  border-radius: 20px;
}

.img-text-air-div {
  display: flex;
}

.col-6 h1 {
  margin: 0 auto;
}

.col-6 p {
  color: #ddb3db;
  margin: 3px 0;
  word-wrap: break-word;
}

/*here*/
.cloud-icon {
  width: 65px;
  filter: invert(83%) sepia(59%) saturate(2186%) hue-rotate(180deg) brightness(104%) contrast(102%);
}

.precip-div {
  display: flex;
}

.precip-div div {
  background: linear-gradient(to top, #3487ef, #43538d 50%);
  border-radius: 15px;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 10px;
}

.col-3 h1,
h3 {
  margin: 0 2px;
}

.col-3 h1 {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 48px;
}

.col-3 p {
  margin: 0 2px;
}

.precip-images {
  width: 40px;
}

.p-icons-div {
  background-color: #41518b;
  margin: 5px;
  border-radius: 5px;
  height: 40px;
}

.p-icons-div img {
  filter: invert(100%) sepia(0%) saturate(3029%) hue-rotate(280deg) brightness(109%) contrast(81%);
}

.precipitation-div {
  margin-right: 30px;
}

.outer {
  width: 120px;
  height: 65px;
  padding: 8px;
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 25px;
}

.outer::after {
  margin-top: 15px;
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 10px;
  border-radius: 50%;
  top: 0;
  width: 100px;
  height: 100px;
  background: #402d33;
  border: 3px solid;
}

.inner {
  height: 40px;
  top: 49px;
  left: 40px;
  position: absolute;
  z-index: 2;
}

.rotsun {
  transform: rotate(-45deg) translateX(50px);
}

.rotmoon {
  transform: rotate(-45deg) translateX(50px);
}

.sunmoon {
  display: flex;
}

.moon {
  margin-left: 30px;
}

.moon::after {
  border-color: #dbdbdb #dbdbdb #9c9b9b #9c9b9b;
  transform: rotate(-90deg);
}

.sun::after {
  border-color: #fac21a #f5c73d #a78e4a #a78e4a;
  transform: rotate(-85deg);
}

.rise-text {
  display: flex;
  font-size: 14px;
}

.rise-text h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.rise-text p {
  font-size: 12px;
  margin-top: 0px;
  color: #9b9798;
}

.sun-line {
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: #b19ea4;
}

.moon-img {
  width: 80px;
  position: relative;
}

.moon-img::after {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 11px;
  top: 9px;
  border-radius: 50%;
  content: "";
  background: #e0e0e0;
}

.moon-img img {
  z-index: 10;
  position: relative;
}

.moon-text {
  margin-top: 15px;
}

.moon-text p {
  color: #9b9798;
  font-size: 14px;
}

.moon-text h4 {
  margin: 0 auto;
}

.road {
  width: 70px;
  border-radius: 15px;
  background: linear-gradient(to top, #6e638b, #483a6a 50%);
}

.road img {
  margin: 5px;
  opacity: 0.8;
  width: 60px;
  filter: invert(10);
}

.col-7 h2 {
  font-size: 48px;
  font-weight: 600;
  margin: 5px;
}

.col-7 p {
  margin: 25px auto;
}

.col-7 h4 {
  margin: 10px 0 2px 0;
}

.color-range {
  width: 350px;
  margin-top: 4px;
  height: 7px;
  position: relative;
  display: flex;
  border-radius: 5px;
}

.one {
  height: 100%;
  width: 20%;
  background: #01a17a;
  border-radius: 4px 0 0 4px;
}

.two {
  height: 100%;
  width: 20%;
  background: #f8dd52;
}

.three {
  height: 100%;
  width: 20%;
  background: #fbac4d;
}

.four {
  height: 100%;
  width: 20%;
  background: #d22247;
}

.five {
  height: 100%;
  width: 20%;
  background: #bc0e9c;
  border-radius: 0 4px 4px 0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -6px;
  background: transparent;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 8px;
  border-radius: 3px;
  color: rebeccapurple;
  background: #fff;
}

.defra-text {
  display: flex;
  justify-content: space-between;
  width: 380px;
}

.defra-text p {
  color: #fff;
  margin-top: 6px;
}

.expand {
  align-items: center;
  text-align: center;
}

#angle-down {
  font-size: 36px;
  margin-top: 10px;
  font-stretch: extra-expanded;
}

.sunUv-div {
  margin-top: 5px;
  --w: 60px;
  background: #4F3E44;
  width: var(--w);
  height: var(--w);
  border-radius: 8px;
  position: relative;
  display: -moz-inline-grid;
  place-content: center;
}

.sunUv-div::after {
  --p: 30;
  background: conic-gradient(#4f3e448e calc(var(--p) * 1%), #0000 0);
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  left: 0;
  border-radius: 50%;
  transform: rotate(calc(calc(var(--p) / 100) * -1 * 360deg));
}

.sunUv-div img {
  width: 75px;
  position: absolute;
  left: -8px;
  top: -7px;
}

col-2 h4,
p {
  margin: 0;
}

.col-2 p {
  margin-top: 20px;
}

.uv-text {
  display: flex;
}

.uv-text h1 {
  font-size: 48px;
  margin: 4px 0 0 5px;
}

.uv-text h3 {
  margin-top: 25px;
  font-size: 20px;
}

.wind-img {
  height: 60px;
  width: 60px;
  padding: 2px 2px 0;
  border-radius: 15px;
  background: linear-gradient(to top, #7a748b, #534a66 50%);
}

.wind-img img {
  height: 60px;
  filter: invert(90%) sepia(11%) saturate(47%) hue-rotate(232deg) brightness(87%) contrast(92%);
}

.wind-text h1 {
  font-size: 48px;
  margin: 5px 5px 0;
}

.wind-text h4 {
  margin: 35px 0 0;
  font-weight: 700;
}

.wind-text p {
  margin: -4px 0 0 5px;
  font-size: 14px;
  font-weight: 600;
  color: #ada6be;
}

.wind-dir {
  margin: 5px 5px 0 0;
  height: 40px;
  width: 40px;
  background: #504962;
  border-radius: 8px;
}

.wind-dir img {
  height: 40px;
  filter: invert(1);
}

.wind-dir-text h4,
p {
  margin: 0 20px 0 2px;
  font-size: 15px;
}

.wind-dir-text h4 {
  margin-top: 5px;
}

.wind-dir-text p {
  color: #ada6be;
}

.temp-svg {
  position: absolute;
  width: 100%;
  stroke-dasharray: 300;
  top: -15px;
}

.day-text {
  bottom: -5px;
  z-index: 2;
  position: absolute;
  display: flex;
  width: 100%;
}

.day-text h4 {
  margin: 0 9px 10px;
  font-size: 14px;
  font-weight: 1400;
}

.temp-dot {
  position: absolute;
  font-size: 12px;
}

.temp-forecasts {
  display: flex;
}

.temp-forecasts p {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
}

.temp-images-div {
  display: flex;
  background: #fdfcff28;
  padding: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 105px;
  flex-direction: row-reverse;
  border-radius: 6px;
}

.temp-switch {
  background: transparent;
  filter: invert(10);
  border-radius: 5px;
  width: 30px;
  margin: 0 3px;
  padding-bottom: -5px;
  cursor: pointer;
}

.sele {
  background: white;
  border-radius: 5px;
  width: 30px;
  margin: 0 3px;
  cursor: pointer;
}

.temp-switch img {
  height: 30px;
  position: absolute;
  margin-bottom: -4px;
}

.forecast-item img {
  filter: invert(10);
}

.forecast-item h2 {
  font-size: 14px;
}

.forecast-item {
  text-align: center;
  justify-content: center;
  margin: 10px 4px 4px;
  background: #1b084e;
  padding: 1px;
  border-radius: 4px;
}

.forecast-item h4 {
  font-size: 14px;
}

.col-9 h3 {
  margin: 0 0 20px;
}

.fore-icon {
  margin: 0 2px;
  border-radius: 54px;
  background: #10052E;
  box-shadow: 9px 9px 17px #0b031e,
    -9px -9px 17px #15073e;
}

.settings {
  color: white;
  /* border:solid #eee;
  border-width: 0 1px 0 0; */
  width: 90%;
  /* background-color: rgba(16, 05, 47, 0.2); */
  background: #0E0329;
  box-shadow: 32px 32px 64px #09021a,
    -32px -32px 64px #130438;
}

.settings-line {
  height: 2px;
  width: 90%;
  background: white;
  margin-top: 6px;
}

.settings * {
  margin: 0 0 0 5px;
}

.settings h3 {
  margin: 10px;
  font-weight: 900;
}

.settings p {
  margin: 8px 0 0 8px;
}

.avatars img {
  padding: 10px 0 0 3px;
  height: 60px;
  /* filter: invert(10); */
}

.avatars {
  margin: 25px 0 0 8px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: rgba(255, 255, 255, 0.801);
}

#temp-toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;
  margin: 8px;
}

.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a308b8;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 15px;
}

.slider-round:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  border-radius: 50%;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

#temp-toggle:checked+.slider-round {
  background: #2196f3;
}

#temp-toggle:focus {
  box-shadow: 0 0 1px #2196f3;
}

#temp-toggle:checked+.slider-round:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}