.App {
  display: grid;
  color: white;
}

.col-1 {
  display: -ms-inline-grid;
}

.col-2 {
  display: -ms-inline-grid;
}

.col-3 {
  display: -ms-inline-grid;
}

.col-4 {
  display: -ms-inline-grid;
}

.col-5 {
  display: -ms-inline-grid;
}

.col-6 {
  display: -ms-inline-grid;
  background: #3B0245;
  padding: 10px;
}

.col-7 {
  display: -ms-inline-grid;
}

.col-8 {
  display: -ms-inline-grid;
}

.col-9 {
  display: -ms-inline-grid;
}

.nav-bar {
  color: white;
  background-color: #16093b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#navbar-form {
 
  width: 250px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 0 10px;
  border: 2px solid white;
}

#navbar-form input {
  padding-right: 20px;
  color: white;
  font-size: 18px;
  height: 40px;
  width: 200px;
  border: none;
  outline: none;
  flex: 1;
  background-color: transparent;
}

#navbar-form button {
  color: white;
  font-size: 20px;
  background: transparent;
  border: 0;
  outline: 0;
}

.city-text {
  display: flex;
}

.loc-dot {
  margin-top: 24px;
  margin-right: 10px;
  font-size: 20px;
}
#update{
  text-align: center;
  justify-content: center;
  padding:5px 0;
  border-radius: 10px;
  background-color: #204598;
  cursor: pointer;
}
#update p{
  margin: 0;
}
.settings-icon{
  font-size: 25px;
  cursor: pointer;
}
.air-img{
  width: 50px;
  height: 50px;
  filter: invert(83%) sepia(41%) saturate(3189%) 
  hue-rotate(246deg) brightness(100%) contrast(88%);
}
.air-img-div{
  background: #61256b86;
  padding: 8px;
 border-radius: 20px;
}
.img-text-air-div{
  display: flex;
}
.col-6 h1,p{
  margin: 0 auto;
}
.col-6 p{
  color: #ddb3db;
}