.App {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  align-content: stretch;
  color: white;
  padding: 10px;
}

.col {
  padding: 15px;
  border-radius: 15px;

}

.col-1 {
  display: -ms-inline-grid;
}

.col-2 {
  display: -ms-inline-grid;
}

.col-3 {
  background: #1F2F73;
}

.col-4 {
  display: -ms-inline-grid;
}

.col-5 {
  display: -ms-inline-grid;
  background-color: #402D33;
}

.col-6 {
  display: -ms-inline-grid;
  background: #3B0245;
  padding: 10px;
}

.col-7 {
  display: -ms-inline-grid;
  background: #291952;

}

.col-8 {
  display: -ms-inline-grid;
}

.col-9 {
  display: -ms-inline-grid;
}

.nav-bar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#navbar-form {

  width: 250px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 0 10px;
  border: 2px solid white;
}

#navbar-form input {
  padding-right: 20px;
  color: white;
  font-size: 18px;
  height: 40px;
  width: 200px;
  border: none;
  outline: none;
  flex: 1;
  background-color: transparent;
}

#navbar-form button {
  color: white;
  font-size: 20px;
  background: transparent;
  border: 0;
  outline: 0;
}

.city-text {
  display: flex;
}

.loc-dot {
  margin-top: 24px;
  margin-right: 10px;
  font-size: 20px;
}

#update {
  text-align: center;
  justify-content: center;
  padding: 5px 0;
  border-radius: 10px;
  background-color: #204598;
  cursor: pointer;
}

#update p {
  margin: 0;
}

.settings-icon {
  font-size: 25px;
  cursor: pointer;
}

.air-img {
  width: 50px;
  height: 50px;
  filter: invert(83%) sepia(41%) saturate(3189%) hue-rotate(246deg) brightness(100%) contrast(88%);
}

.air-img-div {
  background: #61256b86;
  padding: 8px;
  border-radius: 20px;
}

.img-text-air-div {
  display: flex;
}

.col-6 h1{
  margin: 0 auto;
}

.col-6 p {
  color: #ddb3db;
  margin: 3px 0;
  word-wrap:break-word;
}

/*here*/
.cloud-icon {
  width: 65px;
  filter: invert(83%) sepia(59%) saturate(2186%) hue-rotate(180deg) brightness(104%) contrast(102%)
}

.precip-div {
  display: flex;
}

.precip-div div {
  background: linear-gradient(to top, #3487EF, #43538D 50%);
  border-radius: 15px;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 10px;
}

.col-3 h1,
h3 {
  margin: 0 2px;
}

.col-3 h1 {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 48px;
}
.col-3 p{
  margin: 0 2px;
}

.precip-images {
  width: 40px;
}

.p-icons-div {
  background-color: #41518B;
  margin: 5px;
  border-radius: 5px;
  height: 40px;
}

.p-icons-div img {
  filter: invert(100%) sepia(0%) saturate(3029%) hue-rotate(280deg) brightness(109%) contrast(81%);
}

.precipitation-div {
  margin-right: 30px;
}

.outer {
  width: 120px;
  height: 65px;
  padding: 8px;
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 25px;
}
.outer::after {
  margin-top: 15px;
  box-sizing: border-box;
  content: '';
  position: absolute;
  left: 10px;
  border-radius: 50%;
  top: 0;
  width: 100px;
  height: 100px;
  background: #402D33;
  border: 3px solid;
} 
.inner{
  height: 40px;
  top:49px;
  left: 40px;
  position: absolute;
  z-index: 2;
  
}
.rotsun{
transform:rotate(-45deg) translateX(50px);
}
.rotmoon{
  transform:rotate(-45deg) translateX(50px);
}
.sunmoon{
  display: flex;
}
.moon{
  margin-left: 30px;
}
.moon::after{
border-color: #DBDBDB #DBDBDB #9c9b9b #9c9b9b;
transform: rotate(-90deg);
}
.sun::after{
  border-color: #fac21a #F5C73D #A78E4A #A78E4A;
  transform: rotate(-85deg);
}
.rise-text{
  display: flex;
  font-size: 14px;
}
.rise-text h4{
  margin-top: 0px;
  margin-bottom: 0px;
 
}
.rise-text p{
  font-size: 12px;
  margin-top: 0px;
  color: #9b9798;
}
.sun-line{
width: 100%;
height: 2px;
margin-top: 10px;
background: #b19ea4;
}
.moon-img{
  width: 80px;
  position: relative;
  
}
.moon-img::after{
  position: absolute;
  width: 55px;
  height: 55px;
  left:11px;
  top:9px;
  border-radius: 50%;
  content: "";
  background: #E0E0E0;
}
.moon-img img{
  z-index: 10;
  position:relative;
}
.moon-text{
  margin-top: 15px;
}
.moon-text p{
  color: #9b9798;
  font-size: 14px;
}
.moon-text h4{
  margin:0 auto ;
}
.road{
  width: 70px;
  border-radius: 15px;
  background:linear-gradient(to top, #6E638B, #483A6A 50%) ;
}
.road img{
  margin: 5px;
  opacity: 0.8;
  width: 60px;
  filter: invert(10);
}
.col-7 h2{
  font-size: 48px;
  font-weight: 600;
  margin: 5px;
}
.col-7 p{
  margin: 25px auto;
}
.col-7 h4{
margin:10px 0 2px 0;
}
.color-range{
  width: 250px;
  margin-top: 4px;
  height: 7px;
  position: relative;
  display: flex;
  border-radius: 5px;
}
.one{
  height: 100%;
  width: 20%;
  background: #01A17A;
  border-radius: 4px 0 0 4px;
}
.two{
  height: 100%;
  width: 20%;
  background:#F8DD52;
}
.three{
  height: 100%;
  width: 20%;
  background: #FBAC4D;
}
.four{
  height: 100%;
  width: 20%;
  background: #D22247;
}
.five{
  height: 100%;
  width: 20%;
  background: #BC0E9C;
  border-radius: 0 4px 4px 0;
}
input[type=range]{
  /* -webkit-appearance: none; */
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  margin-top: -6px;
  background: transparent;
}
.slider::-moz-range-thumb{
-webkit-appearance: none;
appearance: none;
height: 16px;
width: 8px;
border-radius:3px;
color:rebeccapurple;
background: #fff;
}
.defra-text{
  display: flex;
  justify-content: space-between;
  width: 280px;
}
.defra-text p{
  color: #fff;
  margin-top: 6px;
}
.expand{
 
  align-items: center;
  text-align: center;
}
#angle-down{
 font-size: 36px;
 margin-top: 10px;
  font-stretch: extra-expanded;
}